<section id="Proyectos" class="container">
  <div
    class="row justify-content-center align-items-center text-center py-5 g-0"
  >
    <div class="col-12 py-5">
      <h1>
        Proyectos
        <i
          id="plus"
          routerLink="/nuevoproyecto"
          *ngIf="isLogged"
          class="bi bi-plus"
        ></i>
      </h1>
    </div>
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let proyectos of proyecto">
      <div data-aos="zoom-in" class="imgbox">
        <img src="{{ proyectos.imgP }}" class="imgfluid" alt="" />
        <div class="textbox">
          <div class="cardbox">
            <h1 class="mb-3">
              {{ proyectos.nombre }}

              <div class="icon-box">
                <button
                  id="pencil"
                  class="btn btn-success btn-sm"
                  *ngIf="isLogged"
                >
                  <i
                    routerLink="/editproyecto/{{ proyectos.id }}"
                    class="bi bi-pencil"
                  ></i>
                </button>
                <button
                  id="trash"
                  class="btn btn-danger btn-sm"
                  *ngIf="isLogged"
                >
                  <i
                    (click)="delete(proyectos.id)"
                    class="bi bi-trash3-fill"
                  ></i>
                </button>
              </div>
            </h1>

            <div class="links-box pt-3">
              <!-- Button trigger modal -->
              <button
                (click)="proyectoId(proyectos.id)"
                type="button"
                class="btn btnhover"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Ver Más
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  *ngIf="proyectoModal"
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-dialog-scrollable"
  >
    <div class="modal-content text-center">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ proyectoModal.nombre }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img [src]="proyectoModal.imgP" class="w-100 d-block" />
        {{ proyectoModal.descripcion }}
      </div>
      <div class="modal-footer m-auto">
        <a class="btn btnhover" [href]="proyectoModal.gitLink" role="button"
          ><i class="fa-brands fa-github"></i> Git</a
        >
        <a [href]="proyectoModal.link" target="_blank" rel="noopener noreferrer"
          >Link</a
        >
      </div>
    </div>
  </div>
</div>
