
/* formulario */

.cont-formulario form {
    max-width: 700px;
    margin: auto;
}

.cont-formulario {
    background-color: var(--negro);
    color: #fff;
    outline: none;

}

.cont-formulario input {
    background-color: var(--negro-claro);
    height: 48px;
    outline: none;
    color: #fff;
}



.cont-formulario textarea {
    background-color: var(--negro-claro);
    height: 240px;
    outline: none;
    color: #fff;
}

/* footer */

.container-footer {
    background-color: var(--negro-claro);
    color: #fff;
}

.container-footer div{
    max-width: 750px;
    min-height: 100px;
    margin:auto;
}