<div data-aos="fade-right" data-aos-delay="1000" class="text-center">
  <div class="hex">
    <img src="{{ persona?.img }}" loading="lazy" alt="foto de perfil" />
  </div>

  <div class="icon-box">
    <!-- editar icon -->
    <button *ngIf="isLogged" id="pencil" class="btn btn-success">
      <i routerLink="/editacercade/1"  class="bi bi-pencil"></i>
    </button>
  </div>

  <div class="py-3">
    <h2>{{ persona?.nombre }} {{ persona?.apellido }}</h2>
    <p>{{ persona?.descripcion }}</p>
  </div>
</div>
