.bg-nav{
    background-color: var(--negro);
}

#navbar{
    position: sticky !important;
    top: 0px !important;
    z-index: 99;
    font-weight: 800;
}

.logo{
    width: 85px;
}

#hover-border{
    position: relative;
    color: white;
    
}

.navbar{
    border-bottom: var(--naranja) 2px solid;
}

#hover-border:after{
    content: "";
    background-color: var(--verde);
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0%; 
    left: 50%;
    transition: all 500ms ease;
}

#hover-border:hover:after{
    left: 0%;
    width: 100%;
}

#hover-border:hover{
    color: var(--verde);
    transition: all 500ms;
}

/* boton nav */

.button-nav{
    position: relative;
    background-color: var(--negro-claro);
    color: #fff;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 500ms;
    overflow: hidden;
}

.button-nav:hover{
    color: var(--verde);

}

.button-nav span{
    position: absolute;
    background: var(--verde);
    transition: 500ms;
}

.button-nav span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

.button-nav span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

.button-nav span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

.button-nav span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

.button-nav:hover span:nth-child(1){
    left: 0;
}
.button-nav:hover span:nth-child(2){
    right: 0;
}
.button-nav:hover span:nth-child(3){
    bottom: 0;
}
.button-nav:hover span:nth-child(4){
    top: 0;
}