<section id="exp" class="container">
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-12 my-5">
      <h1>
        Experiencia Laboral
        <i
          id="plus"
          routerLink="/nuevaexp"
          *ngIf="isLogged"
          class="bi bi-plus"
        ></i>
      </h1>
    </div>

    <div
      class="exp-row text-center"
      data-aos="fade-up"
      data-aos-delay="1000"
      *ngFor="let experiencia of exp"
    >
      <div class="col-6 col-hide"></div>

      <div class="time-line">
        <span class="bola"></span>
        <span class="linea"></span>
      </div>
      <div class="exp-list col-6">
        <div>
          <h2>
            {{ experiencia.nombreE }}
          </h2>

          <p class="mb-4 text-muted">{{ experiencia.descripcionE }}</p>
          <span class="text-muted mb-4">
            <i class="fa-regular fa-calendar"></i>
            <i>{{ experiencia.duracion }}</i>
          </span>
          <div class="icon-box">
            <button *ngIf="isLogged" id="pencil" class="btn btn-success">
              <i
                routerLink="/editexp/{{ experiencia.id }}"
                class="bi bi-pencil"
              ></i>
            </button>
            <button *ngIf="isLogged" id="trash" class="btn btn-danger">
              <i (click)="delete(experiencia.id)" class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="time-line-hide">
        <span class="bola"></span>
        <span class="linea"></span>
      </div>
    </div>
  </div>
</section>
