.hex-about {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 110px;
    background-color:var(--verde-oscuro);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    
}

.fa-briefcase {
    transform: scale(2.5);
    color: #fff;

}

.time-line{
    margin-right: 14px;
}

.bola{
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: var(--violeta);
}

.linea{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--violeta);
    transform: translate(6px, -7px);
}

@media (min-width: 0px) and (max-width: 768px) {
    .time-line-hide{
        display: inline-block;
    }
    
    .exp-row{
        display:flex;
        text-align: center;
        padding: auto;
    }
    
    .exp-list{
        padding-bottom: 18px;
    }
    
    .time-line{
        padding-left: 18px;
    }
    
    .col-hide{
        display: none;
    }
    
    
    .time-line-hide{
        display: none;
    }
    
}

@media (min-width: 768px) and (max-width: 1400px) {
    .exp-row{
        display: flex;
    }

    
    .exp-row:nth-child(odd) .col-hide{
        display:none;
    }
    
    .exp-row:nth-child(odd) .time-line{
        display: none;
    }
    
    .exp-row:nth-child(even) .time-line-hide{
        display: none;
    }
}