<section class="vh-100" style="background-color: var(--negro)">
  <div class="container">
    <div class="row justify-content-center align-content-center vh-100">
      <div class="col-lg-4 col-md-6 col-sm-6 my-5">
        <div data-aos="zoom-out-down" class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="py-3 d-inline-block">Login</h2>
            <button
              type="button"
              class="btn-close float-end m-3"
              aria-label="Close"
              routerLink=""
            ></button>
          </div>
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onLoggin()" novalidate>
              <div class="form-group mb-4">
                <label for="nombreUsuario" class="form-label">Username</label>
                <input
                  class="form-control form-control-lg"
                  type="email"
                  id="nombreUsuario"
                  [(ngModel)]="nombreUsuario"
                  name="nombreUsuario"
                  required
                />
              </div>
              <div class="form-group mb-4">
                <label for="password" class="form-label">Password</label>
                <input
                  class="form-control form-control-lg"
                  type="password"
                  id="password"
                  [(ngModel)]="password"
                  name="password"
                  required
                />
              </div>

              <div class="d-grid py-3">
                <button type="submit" class="btn btnhoover btn-secondary">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
