<!-- <div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group mb-3">
                  <label for="nombreE" class="form-label">Name</label>
                  <input type="text" name="nombreE" id="nombreE" class="form-control" placeholder="" [(ngModel)]="nombreE" required>
                </div>

                <div class="form-group mb-3">
                    <label for="descripcionE" class="form-label">Descripción</label>
                    <input type="text" name="descripcionE" id="descripcionE" class="form-control" placeholder="" [(ngModel)]="descripcionE" required>
                </div>
                <button class="btn btn-success" type="submit">Agregar</button>
            </form>
        </div>
    </div>
</div>
 -->

<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6 py-5">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="p-3">Nueva educacion</h2>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="mb-4 form-group">
                <label for="nombreE" class="form-label">Titulo</label>
                <input class="form-control form-control-lg" type="text" class="form-control" id="nombreE"
                  [(ngModel)]="nombreE" name="nombreE" required />
              </div>
              <div class="mb-4 form-group">
                <label for="descripcionE" class="form-label">Descripcion</label>
                <input class="form-control form-control-lg" type="text" class="form-control" id="descripcionE"
                  [(ngModel)]="descripcionE" name="descripcionE" required />
              </div>
              <div class="mb-4 form-group">
                <label for="fechaE" class="form-label">Fecha</label>
                <input class="form-control form-control-lg" type="text" class="form-control" id="fechaE"
                  [(ngModel)]="fechaE" name="fechaE" required />
              </div>
  
              <div class="d-grid py-3">
                <button type="submit" class="btn btn-secondary">Agregar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>