<section id="educacion" class="container">
  <div
    class="row justify-content-center text-center py-5 g-2"
  >
    <div class="col-12 py-5">
      <h1 data-aos="fade-right" class="mb-2">
        Educacion
        <i
          id="plus"
          routerLink="/nuevaedu"
          *ngIf="isLogged"
          class="bi bi-plus"
        ></i>
      </h1>
      <div data-aos="fade-left" id="h1-line" class="mb-5"></div>
    </div>

    <div
      data-aos="fade-up"
      data-aos-delay="500"
      class="col-6 col-lg-3 h-100"
      *ngFor="let Educacion of educacion"
    >
      <div class="hex-about">
        <i class="fa-solid fa-graduation-cap"></i>
      </div>

      <h2>{{ Educacion.nombreE }}</h2>
      <p>{{ Educacion.descripcionE }}</p>
      <p>
        <i class="fa-regular fa-calendar"></i>
        <i>{{ Educacion.fechaE }}</i>
      </p>
      <!-- editar icon -->
      <button
        *ngIf="isLogged"
        id="pencil"
        type="button"
        class="btn btn-success"
      >
        <i routerLink="/editedu/{{ Educacion.id }}" class="bi bi-pencil"></i>
      </button>
      <!-- delete icon -->
      <button *ngIf="isLogged" id="trash" type="button" class="btn btn-danger">
        <i (click)="borrar(Educacion.id)" class="bi bi-trash3-fill"></i>
      </button>
    </div>
  </div>
</section>
