<div class="row justify-content-center align-items-center">
  <div *ngIf="isLogged" class="col-12">
    <h2>
      Nueva Red

      <i
        id="plus"
        routerLink="/nuevared"
        *ngIf="isLogged"
        class="bi bi-plus"
      ></i>
    </h2>
  </div>
  <div class="col">
    <div *ngFor="let redes of red" class="redes d-inline-block">
      <!-- editar icon -->
      <button id="pencil" class="btn btn-success btn-sm" *ngIf="isLogged">
        <i routerLink="/editred/{{ redes.id }}" class="bi bi-pencil"></i>
      </button>
      <!-- red -->
      <span class="d-flex my-4 mx-3">
        <a
          [matTooltip]="redes.nombre"
          matTooltipPosition="above"
          [href]="redes.url"
          target="_blank"
        >
          <span class="">
            <i [ngClass]="redes.iconRedes" style="height: 25px"></i>
          </span>
        </a>
      </span>

      <!-- delete icon -->
      <button id="trash" class="btn btn-danger btn-sm" *ngIf="isLogged">
        <i
          id="trash"
          (click)="borrarRedes(redes.id)"
          class="bi bi-trash3-fill"
        ></i>
      </button>
    </div>
  </div>
</div>
