<div class="container" *ngIf="educacion">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6 py-5">
      <div class="card shadow">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3 d-inline-block">Editar educacion</h2>
          <button
            type="button"
            class="btn-close float-end p-3"
            aria-label="Close"
            routerLink=""
          ></button>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="mb-4 form-group">
              <label for="nombreE" class="form-label">Titulo</label>
              <input
                class="form-control"
                type="text"
                id="nombreE"
                [(ngModel)]="educacion.nombreE"
                name="nombreE"
                required
              />
            </div>
            <div class="mb-4 form-group">
              <label for="descripcionE" class="form-label">Descripcion</label>
              <textarea
                class="form-control"
                type="descripcionE"
                id="descripcionE"
                [(ngModel)]="educacion.descripcionE"
                name="descripcionE"
                required
              ></textarea>
            </div>
            <div class="mb-4 form-group">
              <label for="fechaE" class="form-label">Fecha</label>
              <input
                class="form-control"
                type="fechaE"
                id="fechaE"
                [(ngModel)]="educacion.fechaE"
                name="fechaE"
                required
              />
            </div>

            <div class="d-grid py-3">
              <button type="submit" class="btn btn-secondary">Editar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
