<section id="inicio" class="container-fluid">
    <div class="row justify-content-center align-items-center text-light vh-100 text-center">

        <div class="col-12 my-auto">
            <h1 class="mb-5">Hola, mi nombre es <strong class="nombre">{{persona?.nombre}} {{persona?.apellido}}</strong>.<br>
            Apasionado de la tecnología.
            </h1>

            <a class="btn btnhoover" href="#educacion">Empezar <i class="bi bi-arrow-down"></i></a>
        </div>
            


    </div>
</section>
