@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');/* You can add global styles to this file, and also import other style files */

:root {
  --negro: #383838;
  --negro-claro: #424242;
  --naranja-claro-1: #ffe9d5;
  --naranja-claro-2:#ffcfa2;
  --naranja: #ff9a3c;
  --naranja-oscuro: #ff8009;
  --verde-claro-1: #b1e9de;
  --verde-claro-2: #89decd;
  --verde: #39c8ac;
  --verde-oscuro: #227968;
}

section[id] {
  scroll-padding-top: 75px;
}

#trash {
  border-radius: 100%;
  transition: all 500ms;
}

#trash:hover {
  background: rgba(241, 5, 34, 0.2);
  color: #ff0000;
}

#pencil {
  border-radius: 100%;
  transition: all 500ms;
}

#pencil:hover {
  background: rgba(126, 211, 33, 0.3);
  color: #000;
  border-radius: 150px;
}

#plus {
  cursor: pointer;
  display: inline-block;
  transition: all 500ms;
}

#plus:hover {
  transform: scale(1.5);
  color: #ff9a3c;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 */
